# Dependencies
node_modules/
dist/
build/
.next/
venv/
__pycache__/
*.pyc

# Environment
.env
.env.local
.env.*.local
serviceAccountKey.json
gcs-service-account.json

# IDE
.vscode/
.idea/
.DS_Store

# Misc
.vercel
*.log
*/*.csv

