openapi: 3.0.3
info:
  title: MediaVerse API
  description: Comprehensive REST API for tracking movie watch history, managing catalogs, and annual leaderboards.
  version: 1.0.0
  contact:
    name: Siva B
    url: https://github.com/sivab193/movies-tracker
servers:
  - url: https://www.media-verse.in/api
    description: Production Vercel Deployment
  - url: http://localhost:8000/api
    description: Local Development Server
components:
  securitySchemes:
    firebaseAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Firebase ID Token obtained after user authentication via Google OAuth.
    museAgentKey:
      type: apiKey
      in: header
      name: X-MediaVerse-Agent-Key
      description: Dedicated Muse automation key. It is scoped to /agent endpoints only.
  schemas:
    User:
      type: object
      properties:
        _id:
          type: string
        firebaseUid:
          type: string
        email:
          type: string
        displayName:
          type: string
        photoURL:
          type: string
        isAdmin:
          type: boolean
        isPublic:
          type: boolean
        totalMoviesWatched:
          type: integer
        totalRuntimeSeconds:
          type: integer
        watchHistory:
          type: array
          items:
            $ref: '#/components/schemas/WatchEntry'
    WatchEntry:
      type: object
      properties:
        _id:
          type: string
        movieId:
          type: string
        imdbId:
          type: string
        movieTitle:
          type: string
        moviePosterUrl:
          type: string
        theaterName:
          type: string
        theaterLocation:
          type: string
        ticketCost:
          type: number
        currency:
          type: string
        timestamp:
          type: string
          format: date-time
    Movie:
      type: object
      properties:
        _id:
          type: string
        imdbId:
          type: string
        title:
          type: string
        year:
          type: string
        runtime:
          type: string
        runtimeSeconds:
          type: integer
        posterUrl:
          type: string
        genre:
          type: string
        director:
          type: string
        imdbRating:
          type: string
    Theater:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        location:
          type: string
paths:
  /agent/movies/upsert:
    post:
      summary: Create or update a movie for the Muse anniversary automation
      security:
        - museAgentKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [externalRef, title, language, releaseDate]
              properties:
                externalRef: { type: string, example: anniv-2026-10-10 }
                slug: { type: string, example: kill-bill-vol-1-2003, description: Permanent lowercase URL slug }
                tmdbId: { type: integer, example: 24 }
                title: { type: string, example: "Kill Bill: Vol. 1" }
                language: { type: string, enum: [Tamil, Hindi, Malayalam, English] }
                releaseDate: { type: string, format: date, example: "2003-10-10" }
                runtimeMins: { type: integer, example: 110 }
                director: { type: string, example: Quentin Tarantino }
                cast: { type: array, items: { type: string } }
                posterUrl: { type: string, format: uri }
                synopsis: { type: string }
                titleCardTiming: { type: string, example: "14 mins" }
                streamingLinks:
                  type: array
                  items:
                    type: object
                    required: [platform]
                    properties:
                      platform: { type: string, example: Netflix }
                      url: { type: string, format: uri }
      responses:
        '200':
          description: Canonical movie page URL
        '400': { description: Invalid request field }
        '401': { description: Missing or invalid agent key }
        '429': { description: Daily rate limit reached }
  /agent/movies:
    get:
      summary: Look up a movie for the Muse automation
      security:
        - museAgentKey: []
      parameters:
        - in: query
          name: tmdbId
          schema: { type: integer }
        - in: query
          name: title
          schema: { type: string }
        - in: query
          name: releaseDate
          schema: { type: string, format: date }
      responses:
        '200': { description: Canonical movie page URL }
        '404': { description: Movie not found }
  /agent/admin/keys:
    get:
      summary: List Muse key metadata for a MediaVerse admin
      security:
        - firebaseAuth: []
      responses:
        '200': { description: Active and retired key metadata without key values }
    post:
      summary: Generate a new Muse key and return it once to a MediaVerse admin
      security:
        - firebaseAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string, example: Muse primary }
      responses:
        '201': { description: New key returned once, with its public metadata }
  /agent/admin/keys/{keyId}:
    put:
      summary: Retire or reactivate a Muse key as a MediaVerse admin
      security:
        - firebaseAuth: []
      parameters:
        - in: path
          name: keyId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [active]
              properties:
                active: { type: boolean }
      responses:
        '200': { description: Key state updated }
  /users/me:
    get:
      summary: Get current user profile & watch history
      security:
        - firebaseAuth: []
      responses:
        '200':
          description: User profile and stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    put:
      summary: Update user settings
      security:
        - firebaseAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                isPublic:
                  type: boolean
                requestAdmin:
                  type: boolean
                adminRequestReason:
                  type: string
      responses:
        '200':
          description: Updated profile
  /users/watch-history:
    post:
      summary: Log a movie watch entry
      security:
        - firebaseAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - movieId
                - theaterName
              properties:
                movieId:
                  type: string
                theaterName:
                  type: string
                theaterLocation:
                  type: string
                ticketCost:
                  type: number
                currency:
                  type: string
                timestamp:
                  type: string
                  format: date-time
                ticketStubImage:
                  type: string
      responses:
        '201':
          description: Watch entry recorded
  /movies:
    get:
      summary: Get paginated list of movies
      parameters:
        - in: query
          name: skip
          schema:
            type: integer
            default: 0
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of movies and total count
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  movies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Movie'
    post:
      summary: Add movie from OMDb (Admin only)
      security:
        - firebaseAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - imdbId
              properties:
                imdbId:
                  type: string
                  example: tt15398776
      responses:
        '201':
          description: Movie added successfully
  /movies/{movieId}/poster:
    get:
      summary: Get binary poster image stored in MongoDB
      parameters:
        - in: path
          name: movieId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Binary image stream
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
  /theaters:
    get:
      summary: Get list of approved theaters
      responses:
        '200':
          description: Array of theaters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Theater'
    post:
      summary: Add new approved theater (Admin only)
      security:
        - firebaseAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                location:
                  type: string
      responses:
        '201':
          description: Theater added
  /leaderboard:
    get:
      summary: Get annual leaderboard rankings
      responses:
        '200':
          description: Ranked list of public users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    userId:
                      type: string
                    displayName:
                      type: string
                    photoURL:
                      type: string
                    totalRuntimeSeconds:
                      type: integer
                    totalMoviesWatched:
                      type: integer
                    isPublic:
                      type: boolean
